html, body {
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

header {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
}

h1 {
    font-size: 40px;
    margin: 10px;
}

main {
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
}

section {
    opacity: 0;
    transition: all 0.7s ease-in;
}

#gameScreen {
    display: none;
}

#board {
    display: grid;
    height: 70vh;
    width: 70vh;
    margin: 0 auto;
}

#infobar {
    display: flex;
    width: 70vh;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.infoDiv {
    display: flex;
}

#numOfMines, #timer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
}

#replay {
    display: block;
    background-image: url(../images/replay.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 80%;
    height: 50px;   
    width: 50px;
    border-radius: 50%;
    transition: all .25s;
}

#replay:hover {
    background-color: #ccc;
    transform: rotate(360deg);
}

#difficultyBtns {
    margin-top: 50px;
}

.difficultyBtn {
    height: 70px;
    width: 150px;
    font-size: 20px;
    border: 1px solid grey;
    transition: all 0.25s ease-in-out;
    border-radius: 5px;
}

#easyBtn {
    background-color: rgb(66, 245, 123);
}
#easyBtn:hover {
    background-color: rgb(52, 153, 84);
    color: #eee;
}

#normalBtn {
    background-color: #eee;
}

#normalBtn:hover {
    background-color: #7c7c7c;
    color: #eee;
}

#hardBtn {
    background-color: red;
}

#hardBtn:hover {
    background-color: rgb(160, 0, 0);
    color: white;
}

.difficultyBtn:hover {
    background-color: #ccc;
}

#message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s;
}

.empty, .number, .open {
    border: solid 1px grey;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3;
}

#board div {
    border-radius: 3px;
    user-select: none;
}

.mine {
    border: solid 1px grey;
    background-color: #eee;
    background-image: url('../images/mine.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.hidden { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    background-size: 0;
}

.flagged {
    border: solid 1px grey;
    background-color: #eee;
    background-image: url('../images/flag.png');
    background-size: 100%;
    background-repeat: no-repeat;  
    background-position: center;
    transition: none;
}

.open {
    background-color: rgb(66, 245, 123);
    transition: all .25s;
}

.destroyed {
    background-color: red;
    transition: all .25s;
}

#board div:hover {
    background-color: #ccc;
}