html, body {
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: helvetica;
}

main {
    height: 100vh;
    width: 100vw;
    text-align: center;
}

#board {
    display: grid;
    border: solid 1px grey;
    height: 70vh;
    width: 70vh;
    margin: 0 auto;
}

#infobar {
    width: 70vh;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

#numOfMines, #timer {
    border: solid 1px grey;
    height: 80px;   
    width: 150px;

}

#difficultyBtns {
    position: absolute;

}

.empty, .number, .open {
    border: solid 1px grey;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3;
}

.mine {
    border: solid 1px grey;
    background-color: #eee;
    background-image: url('../images/mine.png');
    background-size: 100%;
    background-repeat: no-repeat;  
}

.hidden { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3;
    background-size: 0;
}

.flagged {
    border: solid 1px grey;
    background-color: #eee;
    background-image: url('../images/flag.png');
    background-size: 100%;
    background-repeat: no-repeat;  
}

.open {
    background-color: dodgerblue;
}

#board div:hover {
    background-color: #ccc;
}